In [1]:
import pandas as pd

df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/buySwap/csv/buyswap_final.csv")
df=df[df["market"]!="none"]
df["market"].value_counts()

OpenSea          2711
LooksRare          71
Rarible            63
X2Y2               32
Sudoswap            9
CryptoKitties       2
SuperRare           1
Name: market, dtype: int64

In [2]:
lossDf=df[df["revenue_eth"]<0]
profitDf=df[df["revenue_eth"]>0]

print("len(df)",len(df))
print("sum(df[revenue_eth])",sum(df["revenue_eth"]))
print("sum(df[revenue_dollar])",sum(df["revenue_dollar"]))

print("len(lossDf)",len(lossDf))
print("sum(lossDf[revenue_eth])",sum(lossDf["revenue_eth"]))
print("sum(lossDf[revenue_dollar])",sum(lossDf["revenue_dollar"]))

print("len(profitDf)",len(profitDf))
print("sum(profitDf[revenue_eth])",sum(profitDf["revenue_eth"]))
print("sum(profitDf[revenue_dollar])",sum(profitDf["revenue_dollar"]))

# print("",df[ max(df[])]

len(df) 2889
sum(df[revenue_eth]) 121.63380720543682
sum(df[revenue_dollar]) 360354.7941372942
len(lossDf) 71
sum(lossDf[revenue_eth]) -6.774853911928949
sum(lossDf[revenue_dollar]) -23066.31134483382
len(profitDf) 2818
sum(profitDf[revenue_eth]) 128.40866111736568
sum(profitDf[revenue_dollar]) 383421.1054821277

In [4]:
df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/buySwap/csv/buyswap_final.csv")
df=df[df["market"]=="OpenSea"]
print("OpenSea average revenue: ",sum(df["revenue_dollar"]/len(df)))

df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/buySwap/csv/buyswap_final.csv")
df=df[df["market"]=="LooksRare"]
print("LooksRare average revenue: ",sum(df["revenue_dollar"]/len(df)))

df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/buySwap/csv/buyswap_final.csv")
df=df[df["market"]=="Rarible"]
print("Rarible average revenue: ",sum(df["revenue_dollar"]/len(df)))

df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/buySwap/csv/buyswap_final.csv")
df=df[df["market"]=="X2Y2"]
print("X2Y2 average revenue: ",sum(df["revenue_dollar"]/len(df)))

df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/buySwap/csv/buyswap_final.csv")
df=df[df["market"]=="Sudoswap"]
print("Sudoswap average revenue: ",sum(df["revenue_dollar"]/len(df)))

df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/buySwap/csv/buyswap_final.csv")
df=df[df["market"]=="CryptoKitties"]
print("CryptoKitties average revenue: ",sum(df["revenue_dollar"]/len(df)))

df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/buySwap/csv/buyswap_final.csv")
df=df[df["market"]=="SuperRare"]
print("SuperRare average revenue: ",sum(df["revenue_dollar"]/len(df)))

OpenSea average revenue:  117.97062736056274
LooksRare average revenue:  70.97856046243231
Rarible average revenue:  543.9446305631877
X2Y2 average revenue:  33.79406335097449
Sudoswap average revenue:  3.9655593958675017
CryptoKitties average revenue:  27.468718463101933
SuperRare average revenue:  56.39634577471232

In [11]:
df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/buySwap/csv/buyswap_final.csv")
df=df[df["market"]!="none"]
df[df["revenue_eth"]==min(df["revenue_eth"])]

,transactionHash,blockNumber,timestamp,position,transactionFee,coinbase_transfer,flashbots,toAddress,tokenAddress,tokenId,inEth,outEth,ethPrice,revenue_eth,revenue_dollar,market
1313,0xf22d9b672e95b87d953b8f890ca2e415b2adc463da77...,14002549,1642148526,0,55947036489986304,1367043614527844935,True,0xa57bd00134b2850b2a1c55860c9e9ea100fdd6cf,0x986aea67c7d6a15036e18678065eb663fc5be883,1648,7.212402e+21,7.213769e+21,3307.87093,-1.422991,-4707.069409,OpenSea

In [7]:
profitDf[profitDf["revenue_eth"]==max(profitDf["revenue_eth"])]

,transactionHash,blockNumber,timestamp,position,transactionFee,coinbase_transfer,flashbots,toAddress,tokenAddress,tokenId,inEth,outEth,ethPrice,revenue_eth,revenue_dollar,market
1335,0x54d84a4fc0d8a01b4b996d72a6966b21b040e80d2b9a...,14016869,1642340578,0,57725163042820092,500000000000000000,True,0x000000b46a83732bda366917c4c6477eefe840d7,0x60e4d786628fea6478f785a6d7e704777c86a7c6,10440,2.078988e+20,2.005000e+20,3354.183437,7.341061,24623.266514,OpenSea

In [3]:
import pandas as pd
df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/buySwap/csv/buyswap_final.csv")
df=df[df["market"]!="none"]
addrMap={}
for index, row in df.iterrows():
    toAddress=row["toAddress"]
    revenue_dollar=row["revenue_dollar"]
    if toAddress not in addrMap:
        addrMap[toAddress]={"count":1,"revenue_dollar":revenue_dollar}
    else:
        addrMap[toAddress]["count"]+=1
        addrMap[toAddress]["revenue_dollar"]+=revenue_dollar
# addrMap

In [9]:
len(addrMap)

46

In [4]:
addrMap["0x397ff1542f962076d0bfe58ea045ffa2d347aca0"]

{'count': 16, 'revenue_dollar': 32.499613695388064}

In [7]:
tempList=[]
for key,value in addrMap.items():
    tempList.append({"address":key,"count":value["count"]})

df = pd.DataFrame(tempList)

In [8]:
df.sort_values(by="count",ascending=False)

                                       address  count
2   0xef7f9d712a82ae54c6ece9d95b7e1ec7449747ed   1181
0   0xbf8767602970cec551c437c605f828975a4ef525    417
7   0x00000000c2cf7648c169b25ef1c217864bfa38cc    308
15  0x0b6b31b277ff5825e46e4adcc377b23ae466a48b    248
10  0x06a20913e78e0263f20b2591684546d50aa21a48    153
30  0xe7db74f559fd9e0be11a5f667c66616540878d5c     84
32  0x0000000009cb38fb8a1bbb8ada23c8261118f019     52
33  0x460441cc78340342611cfbca4c958ec50ba83d65     44
1   0x00000000000a93ddd65c4daa1d7160f2207842c4     44
3   0x000000000006b92d1ca16b6e55071e8b5626d5d6     40
37  0x1162ea7091f5d1784f86c9e745ea2c89296a8657     37
4   0xa57bd00134b2850b2a1c55860c9e9ea100fdd6cf     33
27  0xb21ce453533489ff7eb26cd1cef957f6485ef8ad     27
26  0xc26a75ce8c75aa59cccf6bc3e75df42041257fc1     27
42  0x52ca1cb9fc6fbd1cfe5630e74de8738b517a367a     17
23  0xba8f8e5c8763ac6eb7aa77ac9268e9162a686648     17
38  0x5506ecfa0c1e802046252b6aa84031d32c834b72     16
20  0x397ff1542f962076d0bfe58ea045ffa2d347aca0     16
18  0x50a50f6c2c87371eb33c6d9de39f49c93776de1a     11
34  0x4baf785fd262a2b568024d08e14fdc1867810958     11
9   0x3fec059452ee6123538790457480454ecd336997     11
25  0x5c4fc637cf5231a89cfa2ccb2845918468d9b866     10
40  0x862cb7bb8cef3e6a60ee6d1c3698f629fff1c9b2      9
11  0x71aac50dbb87e2ed75ea4aff3298b58f6a759b65      9
22  0x0000000050fd1220ecf21d84687ebad194fd537f      8
21  0xb4ee2c0087ee5df12c1bff2fbd7232a6a691d811      7
6   0x000000b46a83732bda366917c4c6477eefe840d7      6
16  0xf6c0d982be91131dacc2702605a6c341fb5a9d40      5
28  0x778485d4a7683426d193f60ab688f955a2b3a556      5
24  0x7358b8f966f17a2097c26d2219a2308b8d3e7c70      5
29  0x07197a25bf7297c2c41dd09a79160d05b6232bcf      4
43  0xbf6aba7ab14d98734d67ce05566cd91237deaa72      4
17  0x0058a3059921ffbb772ed0fab895e499f4c1acdd      3
13  0x0000000000b6339756c69614d183670ba8b25507      3
44  0x50a269ff3238db9c60ac2205cf5268e009753de8      3
12  0xaad2ba0c7400529894783b88bf6cb924b71019ca      2
14  0xdb0ac186cb1d9ad378df05a8c7b1f34984bf92c2      2
39  0x6c6b87d44d239b3750bf9badce26a9a0a3d2364e      2
5   0xce7a63bc5618c22ea3dac56b0537b855a1080c01      1
41  0x32ef70596490f1cf52383e5530033dc3dcde2222      1
31  0xb314fd4ac6e10a7e27929cbc8db96743739c82b6      1
36  0x044e9527429b01211b06b06885e6c5873f82156c      1
35  0x000000000000660def84e69995117c0176ba446e      1
8   0x0d6be5edf91a7a25bf1d9dd14f6c32371bf30ec1      1
19  0x52847b10dcf5c6c4fa5a5394a33441805688147e      1
45  0x71ad5f29f645b3cebfd1b4556d383c1fdeeb3b9b      1

In [3]:
import pandas as pd
df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/buySwap/csv/buyswap_final.csv")
df=df[df["market"]!="none"]
addrMap={}
for index, row in df.iterrows():
    tokenAddress=row["tokenAddress"]
    revenue_dollar=row["revenue_dollar"]
    if tokenAddress not in addrMap:
        addrMap[tokenAddress]={"count":1,"revenue_dollar":revenue_dollar}
    else:
        addrMap[tokenAddress]["count"]+=1
        addrMap[tokenAddress]["revenue_dollar"]+=revenue_dollar
        
        
tempList=[]
for key,value in addrMap.items():
    tempList.append({"address":key,"averageRevenue":value["revenue_dollar"]/value["count"]})

df = pd.DataFrame(tempList)
df.sort_values(by="averageRevenue",ascending=False)

                                        address  averageRevenue
88   0x059edd72cd353df5106d2b9cc5ab83a52287ac3a     6392.276882
137  0x60e4d786628fea6478f785a6d7e704777c86a7c6     5600.806775
39   0x7f96f68fa766d4e9b037417fe4967511152b9272      812.040001
57   0xba30e5f9bb24caa003e9f2f0497ad287fdf95623      762.886069
106  0x8a90cab2b38dba80c64b7734e58ee1db38b8992e      643.318807
..                                          ...             ...
130  0x5f9e300108fb156cfbe21c48a870876e97745af9      -15.867884
4    0x7c40c393dc0f283f318791d746d894ddd3693572      -18.039069
68   0xfbe295ad8b8f19f681c5d971cfef098b74d0fc08      -20.733046
188  0xcb88735a1eae17ff2a2abaec1ba03d877f4bc055      -46.890840
103  0x986aea67c7d6a15036e18678065eb663fc5be883     -115.318726

[189 rows x 2 columns]